// Regular
@font-face {
    font-family: "RobotoLight";
    font-style: normal;
    font-weight: 400;
    src: url("~fonts/Roboto-Light.ttf") format("truetype");
}
// Bold
@font-face {
    font-family: "RobotoBold";
    font-style: normal;
    font-weight: 700;
    src: url("~fonts/Roboto-Bold.ttf") format("truetype");
}

// Regular
@font-face {
    font-family: "RobotoRegular";
    font-style: normal;
    font-weight: 400;
    src: url("~fonts/Roboto-Regular.ttf") format("truetype");
}
// Medium
@font-face {
    font-family: "RobotoMedium";
    font-style: normal;
    font-weight: 500;
    src: url("~fonts/Roboto-Medium.ttf") format("truetype");
}
// Bold
@font-face {
    font-family: "RobotoBold";
    font-style: normal;
    font-weight: 700;
    src: url("~fonts/Roboto-Bold.ttf") format("truetype");
}
