@import './colors';

.mui-textfield {
    &.MuiTextField-root {
        margin-top: rem(25);

        &.first {
            margin-top: 0;
        }
    }

    &.inverted {
        .MuiInputBase-input,
        .MuiInputLabel-shrink.Mui-focused,
        .MuiFormLabel-root,
        .MuiInputLabel-root,
        input {
          color: var(--c-white)
        }

        input:-webkit-autofill{
            -webkit-text-fill-color: var(--c-white) !important;
        }

        .MuiInputBase-root {
            &::before, &::after {
                border-color: var(--c-white);
            }
        }
    }
}

.mui-radiogroup {
    &.MuiFormControl-root {
        display: block;
        margin-top: rem(30);
    }

    &.inverted {
        color: var(--c-white);

        .MuiButtonBase-root, .MuiFormLabel-root {
            color: var(--c-white);
        }
    }
}

.mui-checkbox {
    // @include fontStyle(body-2);

    &.MuiFormControlLabel-root {
        padding-top: rem(30);
        padding-left: rem(10);
        align-items: flex-start;

        .MuiButtonBase-root {
            padding: 0 rem(10) 0 0;
        }

        &.inverted {
            color: var(--c-white);

            .MuiButtonBase-root {
                color: var(--c-white);
            }
        }
    }

    p {
        display: inline;
    }

    a {
        display: inline-block;
        text-decoration: underline;
    }
}

.mui-select {
    width: 100%;
    position: relative;
    padding-right: 0;

    .MuiSelect-icon {
      display: none;
    }

    @include mq($from: vp4) {
      width: rem(320);
    }

    svg {
      width: rem(10);
      height: rem(6);
      position: absolute;
      right: rem(23);
    }

    &.MuiTextField-root {
      margin-top: rem(20);
      margin-bottom: rem(8);
    }

    &.MuiTextField-root.MuiFormControl-root .MuiSelect-select {
      padding: rem(8) rem(20);

      &:focus {
        border-radius: rem(24);
        font-size: rem(16);
      }
    }

    .MuiFormLabel-root,
    .MuiSelect-select em {
      font-size: rem(16);
      font-weight: 700;
      transform: translate(rem(20), -50%);
      top: 50%;
    }

    .MuiSelect-select {
      background-color: var(--c-white);
      border-radius: rem(24);
      border: none;
    }

    .Mui-focused.MuiFormLabel-root {
      color: var(--c-black);
    }

    .MuiInputBase-root {
      padding-right: 0;
    }

    .MuiInputAdornment-root {
      margin-left: 0;
    }

    fieldset {
      border: 0;
    }
}

.mui-error {
    color: var(--c-formerror);
    padding-top: rem(5);

    &.inverted {
        color: var(--c-black);
    }
}

